<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grades - Gautam Chebrolu</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="work-page">
  <div class="container">
    <nav>
      <a href="about.html" hx-get="about.html" hx-target="#content" hx-swap="innerHTML">About</a>
      <a href="projects.html" hx-get="projects.html" hx-target="#content" hx-swap="innerHTML">Projects</a>
      <a href="contact.html" hx-get="contact.html" hx-target="#content" hx-swap="innerHTML">Varad</a>
    </nav>
    <div>
      <h1>Why?</h1>
    </div>
  </div>
</body>
</html>